#map {
  height: calc(100vh - 80px) !important;
  font-size: 12px;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 13px Arial, Helvetica, sans-serif;
  background: #000000;
  background: rgba(0, 0, 0, 0.9);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  border-radius: 5px;
  line-height: 24px;
  color: #fff;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #fff;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 16px;
  height: 16px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 1;
  border-radius: 2px;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgb(255, 255, 255);
}
